<LandExplorerSettings xmlns="http://schemas.datacontract.org/2004/07/Land.Control" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
	<Parsers>
		<ParserSettingsItem>
			<Extensions xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<a:string>.cs</a:string>
			</Extensions>
			<ParserDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<ParserPath>.\Libraries\Sharp\sharp.dll</ParserPath>
			<PreprocessorDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<a:string>.\Libraries\Sharp\sharp_preprocessor.dll</a:string>
			</PreprocessorDependencies>
			<PreprocessorPath>.\Libraries\Sharp\SharpPreprocessing.ConditionalCompilation.dll</PreprocessorPath>
			<PreprocessorProperties>
				<PreprocessorProperty>
					<DisplayedName>Символы условной компиляции</DisplayedName>
					<PropertyName>PredefinedSymbols</PropertyName>
					<ValueString/>
				</PreprocessorProperty>
			</PreprocessorProperties>
		</ParserSettingsItem>
		<ParserSettingsItem>
			<Extensions xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<a:string>.md</a:string>
			</Extensions>
			<ParserDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<ParserPath>.\Libraries\Markdown\markdown.dll</ParserPath>
			<PreprocessorDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<PreprocessorPath>.\Libraries\Markdown\MarkdownPreprocessing.TreePostprocessing.dll</PreprocessorPath>
			<PreprocessorProperties/>
		</ParserSettingsItem>
		<ParserSettingsItem>
			<Extensions xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<a:string>.y</a:string>
				<a:string>.yacc</a:string>
			</Extensions>
			<ParserDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<ParserPath>.\Libraries\Yacc\yacc.dll</ParserPath>
			<PreprocessorDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<PreprocessorPath i:nil="true"/>
			<PreprocessorProperties/>
		</ParserSettingsItem>
		<ParserSettingsItem>
			<Extensions xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<a:string>.lex</a:string>
			</Extensions>
			<ParserDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<ParserPath>.\Libraries\Lex\lex.dll</ParserPath>
			<PreprocessorDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<PreprocessorPath i:nil="true"/>
			<PreprocessorProperties/>
		</ParserSettingsItem>
		<ParserSettingsItem>
			<Extensions xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
				<a:string>.xml</a:string>
			</Extensions>
			<ParserDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<ParserPath>.\Libraries\Xml\xml.dll</ParserPath>
			<PreprocessorDependencies xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<PreprocessorPath i:nil="true"/>
			<PreprocessorProperties/>
		</ParserSettingsItem>
	</Parsers>
	<PreserveIndentation i:nil="true"/>
	<SaveAbsolutePath>false</SaveAbsolutePath>
</LandExplorerSettings>